{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <!-- 在这里可以引入样式表和其他外部资源 -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home Page</a></li>
            <li><a href="{% url 'user_profile' %}">User Profile</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </nav>

    <div class="data-display">
        <h1>Welcome to the Dashboard</h1>
        <p>This is the content of the dashboard page.</p>
        <!-- 在这里可以展示其他数据和内容 -->
    </div>

    <h3>User Profile</h3>
    <a href="{% url 'user_profile' %}">User_profile</a>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
