<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
</head>
<body>
    <h1>Change Password</h1>
    
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    <form action="{% url 'password_change' %}" method="post">
        {% csrf_token %}
        <label for="id_old_password">Current Password:</label>
        <input type="password" name="old_password" id="id_old_password"><br>
        <label for="id_new_password1">New Password:</label>
        <input type="password" name="new_password1" id="id_new_password1"><br>
        <label for="id_new_password2">Confirm New Password:</label>
        <input type="password" name="new_password2" id="id_new_password2"><br>
        <input type="submit" value="Change Password">
    </form>
</body>
</html>
